
/*
 * APP STYLES
 */
/* ==========================================================================
   Imports / Fonts / Icons
   ========================================================================== */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-Light-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/opensans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-Italic-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-Bold-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/opensans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/opensans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}

/* Hand of Sean */
@font-face {
    font-family: 'Hand of Sean';
    src: url('../fonts/handsean/handsean-webfont.eot');
    src: url('../fonts/handsean/handsean-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/handsean/handsean-webfont.woff') format('woff'),
         url('../fonts/handsean/handsean-webfont.ttf') format('truetype'),
         url('../fonts/handsean/handsean-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: normal;
}

/* Custom Styles */
html,
body {
  height: 100%;
}
body{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #1c2f3b;
    background-color: #fff;
    padding: 0;
    overflow-x:hidden;
}
.clearer{
    clear:both;
}
h1, h2, h3, h4, h5{
    line-height:1.4;
}
h1{
  letter-spacing: -2px;
  font-size:66px;
  line-height:1.1;
}
.btn-wave {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #00929f;
    background-image: -moz-linear-gradient(top,#00929f,#027680);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00929f),to(#027680));
    background-image: -webkit-linear-gradient(top,#00929f,#027680);
    background-image: -o-linear-gradient(top,#00929f,#027680);
    background-image: linear-gradient(to bottom,#00929f,#027680);
    background-repeat: repeat-x;
    border-color: #00929f #00929f #027680;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff027680',endColorstr='#ff027680',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-radius:0;
}
.btn-wave:hover {
    background: #00818d;
    color:#fff;
}
.main{
    padding-top:30px;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  -moz-transition: opacity linear 1s;
  -webkit-transition: opacity linear 1s;
  transition: opacity linear 1s;
}
.illustration{
    position:absolute;
    bottom:20px;
}
.sashbar{
    background:url(../img/linedpaper.png) #f5f5f5;
    margin-top:-30px;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
    height:800px;
    width:350px;
    position:fixed;
    right:-20px;
    /*transform:rotate(4deg);
    -ms-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);*/
}
.sashbar.notready {
  overflow: hidden;
  height: 0px;
}
.sashbar h2{
    margin-top:90px;
    padding-left:30px;
    color:#153b49;
    font-weight:300;
}
/*.sashbar .stitches{
    height:10px;
    display:block;
    border-top:3px dashed #e5e5e5;
    margin-top:25px;
}*/
.close-sidebar{
    position:absolute;
    top:40px;
    right:20px;
}
.badge-item{
    padding:10px 0 20px 30px;
    margin-bottom:20px;
}
.badge-icon{
    float:left;
    margin-right:20px;
}
.badge-text{
    float:left;
    width:170px;
    margin-bottom:30px;
}
.badge-text h3{
    margin:0;
}
.grayscale{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
    opacity:0.3;
}
/*.ripped{
    background:url(../img/ripped.png) 0px 0px repeat-x #fff;
    display:block;
    height:10px;
    width:100%;
}*/
.container{
    padding-left:20px;
    margin-left:20px;
    width: auto;
    max-width: 680px;
}
.sections ul{
    margin-left:0px;
}
.sections ul li{
    list-style-type: none;
    float:left;
    margin-right:20px;
}

#user {
  position: fixed;
  background-color: #fff;
  padding: 5px;
  top: 10px;
  left: 30px;
  -moz-transition: all linear 1s;
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
}
#login {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -450px;
  width: 900px;
  text-align: center;
}
#login form {
  display: inline-block;
}
#login form .input-large {
  height: 34px;
  width: 70%;
  min-width: 200px;
  max-width: 500px;
  font-size: 20px;
}
#login h1 {
  margin-bottom: 20px;
}

#push,
#footer {
  height: 60px;
  transition: height linear 1s;
}
#footer.notready {
  height: 0px;
}
#footer{
    border-top:1px solid #ebebeb;
}
.progress{
    margin-top:20px;
    background:#e5e5e5;
}
#footer {
  background-color: #f5f5f5;
  position:fixed;
  bottom:0;
  width:100%;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


.container .credit {
  margin: 20px 0;
}

.small-text {
  font-size: 12px;
}

.nudge-top {
  margin-top: 10px;
}
.nudge-right {
  margin-right: 10px;
}
.nudge-bottom {
  margin-bottom: 10px;
}
.nudge-left {
  margin-left: 10px;
}


/* Loading */

.app-loading-container {
  z-index: 9000;
  position: absolute;
  top: 10px;
  left: 10px;
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.app-loading-animation {
  -moz-transition: all linear 1s;
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
  background: url(../img/wave-spinner-blue.gif) center center no-repeat;
  width: 25px;
  height: 25px;
  display: block;
}

.app-loading-animation.ready {
  opacity: 0;
}

.app-loading-animation,
.app-loading-animation.loading {
  opacity: 1;
}

#tasks .task-done {
  text-decoration: line-through;
}
#tasks .task-locked {
  color: #999;
}
#tasks .task-active {
  font-weight: bold;
}
