{% extends 'common/layout.html' %}
{% load commontags %}

{% block content %}
<div class="page-header">
    <h1>Update Profile {{ profile.name }}</h1>
    <p class="lead">You should have thought about this before. Just sayin'.</p>
</div>
<form method="post" id="task-form">
    <div class="row">
        <div class="span6">
            {% display_field form.name %}
        </div>
    </div>
    <div class="form-actions clearfix">
        <button type="submit" class="btn btn-primary"/>Update</button>
        <a class="btn btn-link" href="{% url 'profiles' %}">Cancel</a>
    </div>
    {% csrf_token %}
</form>
{% endblock %}