<div ng-show="step">
  <div class="item-holder">
    <h1>{{ step.title }}</h1>
    <p>{{ step.description }}</p>

    <form ng-submit="verify(step)" ng-show="step.choices && step.choices.length">
      <label class="checkbox" ng-repeat="choice in step.choices">
        <input type="radio" name="choice" 
          value="{{ choice.id }}"
          ng-checked="choice.id == $parent.step.choice"
          ng-disabled="verified"
          ng-model="$parent.step.choice" />
        {{ choice.text }}
      </label>
      <button class="btn btn-success" ng-disabled="!step.choice || verified" >Check</button>
      <span ng-show="verified">
        <i class="icon-ok"></i>
        Correct!
      </span>
    </form>

    <form ng-submit="verify(step)" ng-show="step.is_text_question">
      <label>
        {{ step.text_question }}
        <input type="text" name="text_answer" 
          value="{{ choice.id }}"
          ng-disabled="verified"
          ng-model="step.text_answer" />
      </label>
      <button class="btn btn-success" ng-disabled="!step.text_answer || verified" >Check</button>
      <span ng-show="verified">
        <i class="icon-ok"></i>
        Correct!
      </span>
    </form>
  </div>

  <button class="btn" ng-disabled="!prevStep" ng-click="prev()">
    Previous
  </button>

  <button class="btn" ng-disabled="!verified || !nextStep" ng-click="next()">
    Next
  </button>
</div>

<div ng-hide="step">
  <p>Uh oh, this step seems to be missing. :(</p>
</div>
