<h1>Welcome to Wave</h1>
<div data-ng-hide="percentCompleted">
  <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
  <p><a href="javascript:void(0)" data-ng-click="start()" class="btn-wave btn btn-large">Let's get started!</a></p>
</div>
<div data-ng-show="percentCompleted && percentCompleted < 100">
  <p class="lead">You've already made progress...</p>
  <p><a href="javascript:void(0)" data-ng-click="resume()" class="btn-wave btn btn-large">Resume</a></p>
</div>
<div data-ng-show="percentCompleted == 100">
  <p class="lead">Congratulations, you've already completed the onboardin process!</p>
  <p><a href="javascript:void(0)" data-ng-click="finish()" class="btn-wave btn btn-large">Awesome!</a></p>
</div>
