<h1>Welcome to Wave</h1>

<div data-ng-hide="percentCompleted"><p class="lead">This will be your roadmap to getting up to speed in your first few weeks at Wave. We have designed this onboarding web application so that you will learn more about the company, the amazing culture, your coworkers, and your own job through this web application. <br /><br />

Thank you for being a part of Wave.</p>
<p><a href="javascript:void(0)" data-ng-click="start()" class="btn-wave btn btn-large">Let's get started &nbsp;&rsaquo;</a></p>
</div>
<div data-ng-show="percentCompleted && percentCompleted < 100">
  <p class="lead">You've already made progress...</p>
  <p><a href="javascript:void(0)" data-ng-click="resume()" class="btn-wave btn btn-large">Resume</a></p>
</div>
<div data-ng-show="percentCompleted == 100">
  <p class="lead">Congratulations, you've already completed the onboardin process!</p>
  <p><a href="javascript:void(0)" data-ng-click="finish()" class="btn-wave btn btn-large">Awesome!</a></p>
</div>
<img src="img/red_carpet.png" class="illustration" />